body {
    font-family: Arial, sans-serif;
    text-align: center;
    transition: background-color 0.5s ease-in-out;
}
body.light {
    background-color: #9b9b9b;
}
body.dark {
    background-color: #000000ec;
}

body.dark a {
    color: white; /* Cambia el color del enlace en modo oscuro */
    text-decoration: none; /* Opcional: Quita el subrayado */
}


.container {
    width: 50%;
    margin: auto;
    background: linear-gradient(90deg, #53b7ff, #66fffc);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.header {
    display: flex;
    justify-content: space-between; /* Separa elementos */
    align-items: center;
    padding: 10px;
    background: linear-gradient(to right, #66fffc80, #53b7ff80);
    border-radius: 10px;
    border-color: #000000;
}

#btn {
    padding: 10px;
    background-color: #000000;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.task-input {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.task-input input {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.task-input button {
    padding: 10px;
    background-color: #000000;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: #fff;
    padding: 10px;
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 5px;
}

footer{
    margin-top: 30px;
}
a {
    color: rgb(82, 13, 13);
    text-decoration: none;
    transition: color 0.3s ease;
}

#linkedin:hover{
    color: #0e76a8;
}
#github:hover{
    color: #ab86cd;
}

.completed {
    text-decoration: line-through;
    color: gray;
}
